.MainTitle {
    color: #FFFF;
    font-size: 4rem;
    font-family: 'Love Ya Like A Sister', cursive;
    margin: 2.5rem 3rem 0 20rem;
}

.CardStyle{
    font-family: 'Sanchez', serif;
    width: 65vw;
    position: relative;
    z-index: 140;
    top: 10em;
    left: 2rem;
    right: 0;
    bottom: 0;
}

.ListStyle{
    font-size: 1.2rem;
}

.ButtonStyle{
    border: none;
    border-radius: 3.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Sanchez', serif;
    color: white;
    width: 9rem;
}

.LogOutButton{
    margin: 13rem 2rem 0 2rem;
    background-color: #845EC2;

}

@media screen and (max-width: 970px){
    .MainTitle {
        color: #FFFF;
        font-size: 3.5rem;
        font-family: 'Love Ya Like A Sister', cursive;
        margin: 2.5rem 3rem 0 8rem;
    }

    .CardStyle{
        font-family: 'Sanchez', serif;
        width: 65vw;
        position: relative;
        z-index: 140;
        top: 10em;
        left: 2rem;
        right: 0;
        bottom: 0;
    }

    .ListStyle{
        font-size: 1.2rem;
    }

    .ButtonStyle{
        background-color: #845EC2;
        border: none;
        border-radius: 2rem;
        padding: 1rem;
        font-size: 1.5rem;
        font-family: 'Sanchez', serif;
        color: white;
    }
}