.Image{
    float: left;
    margin-left: 5rem;
}

.Title{
    float: right;
    color: #FFFF;
    margin: 4rem 35rem 2rem 0;
}

.MainTitle {
    font-size: 5rem;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-bottom: 0;
}

.SubTitle {
    font-size: 2.5rem;
    font-family: 'Sanchez', serif;
    margin-top: 0;
}

.SplashStyle{
    transform: translateY(15%) translateX(30%);
    position: relative;
    alignment: top;
    height: 15rem;
    width: 17rem;
    z-index: 50;
}

.LogoStyle{
    transform: translateY(30%) translateX(65%);
    display: inline-block;
    position: absolute;
    height: 14rem;
    width: 14rem;
    z-index: 100;
}

.ButtonStyle{
    margin: 26rem 2rem 0 2rem;
    background-color: #845EC2;
    border: none;
    border-radius: 3.5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Sanchez', serif;
    color: white;
    width: 15rem;
}


@media screen and (max-width: 1670px){
    .Title{
        float: right;
        color: #FFFF;
        font-family: 'Love Ya Like A Sister', cursive;
        margin: 4rem 25rem 0 0;
    }

    .MainTitle {
        font-size: 5rem;
    }

    .SubTitle {
        font-size: 2.5rem;
    }

    .SplashStyle{
        transform: translateY(25%) translateX(20%);
        position: relative;
        alignment: top;
        height: 15rem;
        width: 15rem;
        z-index: 50;
    }

    .LogoStyle{
        transform: translateY(60%) translateX(40%);
        display: inline-block;
        position: absolute;
        height: 12rem;
        width: 12rem;
        z-index: 100;
    }

    .ButtonStyle{
        margin: 26rem 2rem 0 2rem;
        background-color: #845EC2;
        border: none;
        border-radius: 3.5rem;
        padding: 1.5rem;
        font-size: 1.5rem;
        font-family: 'Sanchez', serif;
        color: white;
        width: 15rem;
    }
}

@media screen and (max-width: 1360px){
    .Title{
        float: right;
        color: #FFFF;
        font-family: 'Love Ya Like A Sister', cursive;
        margin: 4rem 3rem 0 0;
    }

    .MainTitle {
        font-size: 5rem;
    }

    .SubTitle {
        font-size: 2.5rem;
    }

    .SplashStyle{
        transform: translateY(25%) translateX(0%);
        position: relative;
        alignment: top;
        height: 13rem;
        width: 13rem;
        z-index: 50;
    }

    .LogoStyle{
        transform: translateY(60%) translateX(20%);
        display: inline-block;
        position: absolute;
        height: 10rem;
        width: 10rem;
        z-index: 100;
    }

    .ButtonStyle{
        margin: 26rem 2rem 0 2rem;
        background-color: #845EC2;
        border: none;
        border-radius: 3.5rem;
        padding: 1.5rem;
        font-size: 1.5rem;
        font-family: 'Sanchez', serif;
        color: white;
        width: 15rem;
    }
}

@media screen and (max-width: 650px){
    .Title{
        float: right;
        color: #FFFF;
        font-family: 'Love Ya Like A Sister', cursive;
        margin: 4rem 0 0 0;
    }

    .MainTitle {
        font-size: 2rem;
    }

    .SubTitle {
        font-size: 1rem;
    }

    .SplashStyle{
        transform: translateY(25%) translateX(30%);
        position: relative;
        alignment: top;
        height: 15rem;
        width: 15rem;
        z-index: 50;
    }

    .LogoStyle{
        transform: translateY(60%) translateX(50%);
        display: inline-block;
        position: absolute;
        height: 12rem;
        width: 12rem;
        z-index: 100;
    }

    .ButtonStyle{
        margin: 26rem 2rem 0 2rem;
        background-color: #845EC2;
        border: none;
        border-radius: 3.5rem;
        padding: 1.5rem;
        font-size: 1.5rem;
        font-family: 'Sanchez', serif;
        color: white;
        width: 15rem;
    }

}
