.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    background-color: white;
}

.body {
    padding: 2rem;
}

.footer {
    height: 3rem;
    background-color: #845EC2;
    border-radius: 0 0 20px 20px;
    padding: .6rem 2rem;
}

.label {
    text-align: center;
    font-size: .9rem;
    border-radius: 30px;
    background-color: #EFEFEF;
    padding: .2rem;
    width: 8rem;
}
