.InputField {
    margin-top: 3rem;
    width: 61vw;
    border-color: white;
}

.KeyboardIcon {
    transform: translateY(3.8rem) translateX(4.2rem);
}

.PipeIcon{
    transform: translateY(3rem) translateX(7.2rem);
}

.Button {
    top: 2.8vw;
    right: -46.5vw;
}

.CardStyle{
    width: 65vw;
    position: relative;
    z-index: 140;
    top: 15em;
    left: 2rem;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 1670px){
    .InputField {
        margin-top: 3rem;
        width: 61vw;
    }

    .KeyboardIcon {
        transform: translateY(3.8rem) translateX(4.2rem);
    }

    .PipeIcon{
        transform: translateY(3rem) translateX(7.2rem);
    }

    .Button {
        top: 3.2vw;
        right: -43vw;
    }
}

@media screen and (max-width: 1360px){
    .InputField {
        margin-top: 3rem;
        width: 61vw;
    }

    .KeyboardIcon {
        transform: translateY(3.8rem) translateX(4.2rem);
    }

    .PipeIcon{
        transform: translateY(3rem) translateX(7.2rem);
    }

    .Button {
        top: 3.95vw;
        right: -47.5vw;
    }
}

@media screen and (max-width: 650px){
    .InputField {
        margin-top: 3rem;
        width: 61vw;
    }

    .KeyboardIcon {
        transform: translateY(3.8rem) translateX(4.2rem);
    }

    .PipeIcon{
        transform: translateY(3rem) translateX(7.2rem);
    }

    .Button {
        top: 8.4vw;
        right: -35vw;
    }
}
