.IconsIn {
    width: 320px;
    position: relative;
}

.InputField {
    font-size: 2rem;
    font-family: 'Sanchez', serif;
    border-radius: 10rem;
    border: 3px solid #969696;
    margin: 0 3rem;
    padding: 0.5rem 0 0.5rem 5.5rem;
    background-color: #EFEFEF;
}

.KeyboardIcon {
    position: fixed;
    z-index: 2;
    font-size: 2.5rem;
    transform: translateY(0.9rem) translateX(4.2rem);
}

.PipeIcon{
    position: fixed;
    z-index: 2;
    font-size: 2.5rem;
    transform: translateY(0) translateX(7.2rem);
}
.Button {
    position: absolute;
    padding: 0;
    border-radius: 50%;
    z-index: 2;
    border: none;
    top: 7%;
    height: 3.7rem;
    width: 3.7rem;
    cursor: pointer;
    color: white;
    background-color: #845EC2;
}

.Arrow {
    font-size: 3.5rem;
}

@media screen and (max-width: 1670px){
    .IconsIn {
        width: 320px;
        position: relative;
    }

    .InputField {
        font-size: 2rem;
        font-family: 'Sanchez', serif;
        border-radius: 10rem;
        border: 3px solid #969696;
        margin: 0 3rem;
        padding: 0.5rem 0 0.5rem 5.5rem;
        background-color: #EFEFEF;
    }

    .KeyboardIcon {
        position: fixed;
        z-index: 2;
        font-size: 2.5rem;
        transform: translateY(0.9rem) translateX(4.2rem);
    }

    .PipeIcon{
        position: fixed;
        z-index: 2;
        font-size: 2.5rem;
        transform: translateY(0) translateX(7.2rem);
    }
    .Button {
        position: absolute;
        padding: 0;
        border-radius: 50%;
        z-index: 2;
        border: none;
        height: 3.7rem;
        width: 3.7rem;
        cursor: pointer;
        color: white;
        background-color: #845EC2;
    }

    .Arrow {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1360px){
    .IconsIn {
        width: 320px;
        position: relative;
    }

    .InputField {
        font-size: 2rem;
        font-family: 'Sanchez', serif;
        border-radius: 10rem;
        border: 3px solid #969696;
        margin: 0 3rem;
        padding: 0.5rem 0 0.5rem 5.5rem;
        background-color: #EFEFEF;
    }

    .KeyboardIcon {
        position: fixed;
        z-index: 2;
        font-size: 2.5rem;
        transform: translateY(0.9rem) translateX(4.2rem);
    }

    .PipeIcon{
        position: fixed;
        z-index: 2;
        font-size: 2.5rem;
        transform: translateY(0) translateX(7.2rem);
    }
    .Button {
        position: absolute;
        padding: 0;
        border-radius: 50%;
        z-index: 2;
        border: none;
        top: 7%;
        height: 3.7rem;
        width: 3.7rem;
        cursor: pointer;
        color: white;
        background-color: #845EC2;
        transform: translateY(0) translateX(-170%);
    }

    .Arrow {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 650px){
    .IconsIn {
        width: 320px;
        position: relative;
    }

    .InputField {
        font-size: 2rem;
        font-family: 'Sanchez', serif;
        border-radius: 10rem;
        border: 3px solid #969696;
        margin: 0 3rem;
        padding: 0.5rem 0 0.5rem 5.5rem;
        background-color: #EFEFEF;
    }

    .KeyboardIcon {
        position: fixed;
        z-index: 2;
        font-size: 2.5rem;
        transform: translateY(0.9rem) translateX(4.2rem);
    }

    .PipeIcon{
        position: fixed;
        z-index: 2;
        font-size: 2.5rem;
        transform: translateY(0) translateX(7.2rem);
    }
    .Button {
        position: absolute;
        padding: 0;
        border-radius: 50%;
        z-index: 2;
        border: none;
        top: 7%;
        height: 3.7rem;
        width: 3.7rem;
        cursor: pointer;
        color: white;
        background-color: #845EC2;
        transform: translateY(0) translateX(-200%);
    }

    .Arrow {
        font-size: 3.5rem;
    }

}
