.NavMenu{
    background-color: #FFC75F;
    border-bottom: 3px solid #E7B355;
    height: 6rem;

}
.NavElement {
    color: #FFFF;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2rem;
    list-style-type: none;
    display: inline;
    padding-right: 2rem;
}

.SplashStyle{
    position: relative;
    alignment: top;
    height: 4rem;
    width: 6rem;
    z-index: 50;
}

.LogoStyle{
    transform: translateY(20%) translateX(35%);
    display: inline-block;
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    z-index: 100;
}
.Profile {
    color: #FFFF;
    font-size: 1.3rem;
    font-family: 'Love Ya Like A Sister', cursive;
    list-style-type: none;
    justify-content: end;
    background-color: #E7B355;
    padding: 0 1.2rem;
    margin-right: 10rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-88%);
    z-index: 900;
}
.IconStyle {
    color: #FFFF;
    position: relative;
    background-color: #E7B355;
    justify-content: end;
    border-radius: 50%;
    font-size: 4rem;
    z-index: 950;
}

